*/db/
*/incremental_db/
*/simulation/
*/greybox_tmp/
incremental_db/
db/
output_files/
PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt
cr_ie_info.json
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.txt
*.bak
*.cmp
*.done
*.xml
*.sld
*.cdf

